/* Si estas aqui el codigo para la animacion esta en el index */
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aquamarine;

    animation: rainbow 20s linear infinite alternate forwards;
    animation-play-state: paused;
}
body.active{
    animation-play-state: running;
}
.logo{
    font-size: 50px;
}
button{
    cursor: pointer;

    border-radius: 8px;

    padding: .5em 2em;
}
button:active{
    transform: scale(.8);
}
a{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@keyframes rainbow {
    0%{
        background: rgba(255, 0, 0, 0.623);
    }20%{
        background: #ddff0078;
    }40%{
        background: rgba(0, 255, 0, 0.438);
    }60%{
        background: #00e1ff6e;
    }80%{
        background: rgba(0, 0, 255, 0.459);
    }100%{
        background: rgba(255, 0, 0, 0.438);
    }
}